{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Página de Inicio</h1>
<p>Bienvenido a mi proyecto.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio in quibusdam veniam? Repellendus, ad vitae, tempore ipsa, neque voluptatem quibusdam vero culpa inventore porro rem molestiae incidunt qui provident.
Eum iste nobis veritatis esse eveniet suscipit. Perferendis, nihil aspernatur, saepe illo sit odit dolorem beatae cum rem vel porro delectus eaque incidunt officiis labore! Maxime cumque beatae voluptate itaque.
Et sed doloribus quas rem expedita, odit reiciendis voluptas dignissimos recusandae numquam eligendi aliquam repudiandae natus error ut quibusdam, labore voluptatibus, a non explicabo aliquid provident illo perspiciatis voluptatem. Deserunt?
Quae, fuga! Quas et praesentium ut rem eaque magnam suscipit sint enim voluptates pariatur quidem esse cum exercitationem nostrum maxime, porro, illo consequuntur, nihil quam! Exercitationem, praesentium excepturi? Eveniet, totam?
Ipsa quis exercitationem architecto nostrum! Saepe voluptatem nihil nostrum exercitationem quidem corrupti nam ducimus quia excepturi. Quaerat voluptatem aut, sit, consequuntur ab quibusdam, molestiae magnam placeat sunt vero nisi repellat!
Quos aut blanditiis ipsum rerum suscipit nobis qui quia totam id provident dicta aperiam hic sit veniam autem fugiat, laboriosam minima vel praesentium error maxime? Amet ipsum dolore praesentium adipisci.
Esse eaque veniam, repellat asperiores amet consequatur non, maxime tempore ut reiciendis iste possimus fuga. Modi fugit quam ipsum cupiditate molestiae quaerat, enim pariatur, est perferendis vel reprehenderit officia delectus.
Culpa mollitia, blanditiis nesciunt tenetur molestiae ab. Cumque debitis sed aliquid quas dolorum! Corrupti soluta a cupiditate nesciunt, illo debitis natus laboriosam at eveniet minus earum iste cumque deserunt aliquam.
Dolorem quaerat deleniti et doloremque quidem sit laboriosam doloribus sapiente itaque, explicabo quam rerum commodi architecto, cum magnam. Recusandae numquam dolorem mollitia totam a rem sequi iste eveniet quibusdam adipisci?
Neque ab voluptate natus maxime optio vel similique assumenda ea temporibus placeat debitis ex impedit facere laudantium laboriosam, corporis fugit ratione. Accusantium explicabo a quis maiores blanditiis eum commodi quo!</p>
{% endblock %}