{% extends 'base.html' %}

{% block title %}vista 1 app2{% endblock %} 
{% block content %}
<h1>vista 1 app2</h1>
 <p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, voluptatem ex qui perferendis aliquam nisi repellendus non illum amet fugiat temporibus numquam veritatis tempore asperiores molestiae eos porro saepe ad.
    Excepturi, possimus. Aperiam magni, beatae unde voluptas recusandae nesciunt culpa tempora exercitationem sint quaerat sapiente ab nemo quia id ipsum blanditiis dolorem neque delectus in velit veniam accusantium necessitatibus sed.
    Porro ipsa, minima officia nesciunt voluptatem praesentium? Ab cumque amet voluptatem labore quasi debitis vero quod? Alias asperiores commodi labore veniam ipsam quisquam itaque, neque, laborum rerum unde corporis perferendis.
    Optio impedit vitae ut in enim praesentium blanditiis inventore, expedita consequuntur tempora placeat ab, et obcaecati eius sapiente nisi! Totam id animi sed praesentium, veritatis fuga nisi? Iusto, commodi quibusdam?
    Molestiae eligendi ratione, sapiente tempore consectetur inventore repellat, maxime aliquid beatae quibusdam eum dolores corrupti ipsa porro ab quis magni iusto. Eaque ratione similique delectus, sunt explicabo totam ab provident.
    Ullam quia amet optio molestiae voluptates eligendi, alias, obcaecati odit, ipsam quod fugit reprehenderit blanditiis excepturi ad dolorem omnis iure repellendus perspiciatis distinctio deserunt necessitatibus eveniet laudantium quibusdam! Possimus, repellendus.
    Voluptates quas voluptatum sunt dolorum, maxime perferendis necessitatibus quaerat libero nobis molestias non illo deleniti facere earum nostrum sequi laboriosam repellendus temporibus reprehenderit itaque delectus, quasi at? Suscipit, quisquam amet!
    Expedita a voluptatem praesentium. Mollitia veritatis, qui libero alias illum ipsam obcaecati, voluptate repudiandae nulla aliquam at porro inventore! Sunt consequuntur tempora distinctio minima vitae totam temporibus non qui eum!
    Eum, quia! Temporibus voluptate laboriosam aperiam est facere sit libero neque esse pariatur, minima rem enim aut ab! Corrupti quaerat quasi veniam optio, repellat sint asperiores repellendus recusandae molestias libero!
    Quia vero saepe error quod, nulla harum unde a? Adipisci debitis maiores aliquid ducimus natus possimus facilis, consequatur, corporis deleniti, cupiditate inventore nobis perspiciatis quam est laborum magni? Quod, ea!
 </p>
{% endblock %}

