{% extends 'base.html' %}
{% block title %}vista 2 app2{% endblock %} 
{% block content %}
<h1>vista 2 app2</h1>
 <p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore asperiores dolor nesciunt sint debitis aut non, iure vitae optio obcaecati quae accusamus numquam sit maiores. Deleniti molestias pariatur ullam officia.
    Tenetur nam quae, ea obcaecati fugit iusto esse quibusdam qui ipsum perferendis, est repellat, cupiditate unde eveniet aliquam eos debitis molestiae illo. Accusamus quibusdam quaerat incidunt, in tempora quidem eius!
    Fugit ipsa aut, atque quis ratione inventore exercitationem corporis dolor in blanditiis eveniet dicta adipisci hic nihil, tenetur delectus ullam sunt ad culpa quasi! Illo sed ipsa nisi a rem!
    Iure velit, culpa, quod aperiam vitae eaque perspiciatis in nisi, illum fugit ipsum nostrum placeat numquam harum illo et consequatur id debitis ut ducimus eos earum fuga aut! Eaque, molestiae.
    A non ea atque aut adipisci saepe ipsa nulla cum nisi quasi totam, laboriosam illo itaque temporibus et reprehenderit quibusdam ratione nobis architecto eaque velit aspernatur! Tempora quas minima earum!
    Dicta qui, deleniti sint doloremque ducimus saepe dignissimos assumenda quam et est deserunt earum facere magni, aliquid molestias quidem asperiores? Fugit veritatis est dolores harum cumque voluptates repudiandae, et officia?
    Eos maxime porro non magni. Ut velit distinctio consequatur maiores aspernatur obcaecati eaque officiis ab repellendus non modi voluptas nostrum iste molestias, sit libero soluta sunt. Perferendis accusantium doloremque exercitationem!
    Dolorem, ea. Possimus maiores temporibus quia officia odit facilis error mollitia qui unde optio, sequi expedita ut quam sint at, doloribus, eveniet nisi? Ipsa corrupti totam harum! Quasi, sapiente odio!
    Expedita eveniet libero quisquam corrupti magnam, earum minus possimus? Quod accusamus commodi dignissimos modi reprehenderit voluptate nostrum fugiat, quasi eum amet recusandae delectus ipsa quos culpa totam nisi deleniti nulla.
    Pariatur aperiam, totam alias qui ipsa animi perferendis. Praesentium delectus sapiente exercitationem officia? Hic, corrupti quo quaerat quae voluptatem reprehenderit quos sit deleniti, dolor provident enim magnam cumque officia recusandae.
 </p>
{% endblock %}