(% extends 'base.html' %)
(% block title %)App1 v1(% endblock %)
(% block content %)
<h1> vista 1 APP1</h1>
<P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum non, velit nemo cupiditate, hic eum debitis, vel repudiandae exercitationem itaque doloremque id dignissimos aliquam. Iste ut quibusdam natus saepe?
Doloremque reprehenderit optio quam dolorum, perferendis rem suscipit incidunt consectetur sequi dignissimos cumque aut possimus provident earum sint, nobis minus tempore excepturi porro! Asperiores inventore consectetur sunt eum, sint aspernatur!
Similique quasi fuga ad numquam at minus, eum adipisci, quo quis excepturi fugiat officia laboriosam harum, ratione voluptas ea. Doloremque maxime commodi quis laborum nesciunt dolorem ut iste aspernatur dignissimos?
Eaque ipsa vitae est nemo. Odio incidunt sit architecto veniam quisquam, cupiditate voluptatem magni aspernatur delectus ipsa voluptatum dolorum voluptate sint eaque consectetur quae tempora maiores alias nisi mollitia labore?
Eveniet, harum laudantium necessitatibus officia amet cum autem, vitae obcaecati quibusdam excepturi sequi, iure mollitia cupiditate. Nostrum reiciendis quo ea sit dolor pariatur quis libero ex quas, adipisci, dicta quasi!
</P>
(% endblock %)